{% extends 'detail_generic.html' %}

{% block detail_title %}
  Membro <b>{{ member.nome }}</b> da família de <b>{{ family.chefe_da_familia }}</b>
{% endblock %}

{% block animation %}
  <div class="animation hide" id="remove-member">
    <div class="animation-holder">
      <div class="animation-content-holder hide px-4 py-5" id="remove-member-content-holder">
        <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        <h3 class="title"><b>Tem certeza?</b></h3>
        <p class="text-center">Você deseja remover o membro <b>{{ member.nome }}</b> da família de <b>{{ family.chefe_da_familia }}</b>? Essa ação não pode ser desfeita.</p>
        <div class="button-animation-holder">
          <button type="button" onclick="hideConfirmation()" id="cancel">
            <b>Cancelar</b>
          </button>
          <form method=POST>
            {% csrf_token %}
            <button type="submit" name="remove" value="true" id="confirm">
              <b>Remover</b>
            </button>
          </form>
        </div>  
      </div>
    </div>
  </div>
{% endblock %}

{% block detail_form_content %}
  <form method=POST>
    {% csrf_token %}
    <div class="d-none">
      <input type="hidden" name="chefe_da_familia" id="chefe_da_familia" value="{{ family.id }}">
    </div>

    <div>
      <label for="nome"><b>Nome</b></label>
      <input type="text" name="nome" id="nome" value="{{ member.nome }}" placeholder="Nome do membro">
      {% for error in member_form.nome.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="cpf"><b>CPF</b></label>
      <input type="text" name="cpf" id="cpf" maxlength="11" value="{{ member.cpf }}" placeholder="CPF do membro">
      {% for error in member_form.cpf.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="telefone"><b>Telefone</b></label>
      <input type="text" id="telefone" name="telefone" maxlength="16" oninput="this.value = numberFormat(this.value)" value="{{ member.telefone }}" placeholder="Telefone do membro">
      {% for error in member_form.telefone.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="button-holder py-3">
      <button type="submit" id="edit-button" name="update" value="true" class="py-2 px-2">
        <i class="fas fa-pen"></i>
        <b>Editar</b>
      </button>
  
      <button type="button" onclick="showConfirmation()" id="remove-button" class="py-2 px-2">
        <i class="fas fa-trash"></i>
        <b>Remover</b>
      </button>
    </div>
  </form>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    const remove_member = document.querySelector("#remove-member");
    const remove_member_content_holder = document.querySelector("#remove-member-content-holder");


    const showConfirmation = () => {
      remove_member.classList.remove("hide");
      remove_member.classList.add("show");

      remove_member_content_holder.classList.remove("hide");
      remove_member_content_holder.classList.add("showAnimation");
    }

    const hideConfirmation = () => {
      remove_member.classList.remove("show");
      remove_member.classList.add("hide");

      remove_member_content_holder.classList.remove("showAnimation");
      remove_member_content_holder.classList.add("hide");
    }
  </script>

  <script type="text/javascript">
    const numberFormat = (input) => {
      input = input.replace(/\D/g,'');
      const size = input.length;

      if (size > 0) 
        input = `(${input}`;
      
      if (size > 2)
        input = `${input.slice(0, 3)}) ${input.slice(3)}`;
      
      if (size > 5 && size < 11)
        input = `${input.slice(0, 9)}-${input.slice(9)}`;
      
      
      if (size === 11)
        input = `${input.slice(0, 3)}) ${input.charAt(5)} ${input.slice(6, 10)}-${input.slice(10)}`;
      
      return input;
    }

    window.onload = () => {
      const telefone1 = document.querySelector("#telefone1");
      const telefone2 = document.querySelector("#telefone2");

      let telvalue1 = "{{ family.telefone1 }}";
      let telvalue2 = "{{ family.telefone2 }}";

      telvalue1 = numberFormat(telvalue1);
      telvalue2 = numberFormat(telvalue2);

      telefone1.value = telvalue1;
      telefone2.value = telvalue2;
    }
  </script>
{% endblock %}