{% extends 'create_generic.html' %}

{% block create_title %}
  Nova família
{% endblock %}

{% block create_form_content %}
<form method=POST>
  {% csrf_token %}
  <div>
    <label for="chefe_da_familia"><b>Nome</b></label>
    <input class="form-control" type="text" id="chefe_da_familia" name="chefe_da_familia" placeholder="Nome do chefe da família">
    {% for error in form.chefe_da_familia.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>
  
  <div>
    <label for="cpf"><b>CPF</b></label>
    <input class="form-control" type="text" id="cpf" name="cpf" placeholder="CPF do chefe da família" maxlength="11" oninput="this.value = onlyNumber(this.value)">
    {% for error in form.cpf.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

  <div>
    <label for="endereco"><b>Endereço</b></label>
    <input class="form-control" type="text" id="endereco" name="endereco" placeholder="Endereço da família">
    {% for error in form.endereco.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

  <div>
    <label for="telefone1"><b>Telefone principal</b></label>
    <input class="form-control" type="text" id="telefone1" name="telefone1" maxlength="16" oninput="this.value = numberFormat(this.value)" placeholder="Telefone principal do chefe da família">
    {% for error in form.telefone1.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

  <div>
    <label for="telefone2"><b>Telefone secundário</b> (opcional)</label>
    <input class="form-control" type="text" id="telefone2" name="telefone2" maxlength="16" oninput="this.value = numberFormat(this.value)" placeholder="Telefone secundário do chefe da família">
    {% for error in form.telefone2.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

  <div class="button-holder">
    <button type="submit" id="save-button" class="btn-primary py-2 px-2">
      <i class="fas fa-save icon"></i>
      <b>Salvar</b>
    </button>
  </div>
{% endblock %}

{% block script %}
  <script>
    const onlyNumber = (input) => {
      input = input.replace(/\D/g,'');
      return input;
    }
  </script>

  <!-- Number formatter -->
  <script>
    const numberFormat = (input) => {
      input = input.replace(/\D/g,'');
      const size = input.length;

      if (size > 0) 
        input = `(${input}`;
      
      if (size > 2)
        input = `${input.slice(0, 3)}) ${input.slice(3)}`;
      
      if (size > 5 && size < 11) 
        input = `${input.slice(0, 9)}-${input.slice(9)}`;
      
      if (size === 11) 
        input = `${input.slice(0, 3)}) ${input.charAt(5)} ${input.slice(6, 10)}-${input.slice(10)}`;

      return input;
    }
  </script>
{% endblock %}