{% extends 'create_generic.html' %}
{% load auth_extras %}

{% block create_title %}
  Nova entidade
{% endblock %}

{% block create_form_content %}
  <form method=POST>
    {% csrf_token %}

    <div>
      <label for="nome_fantasia"><b>Nome fantasia</b></label>
      <input class="form-control" type="text" name="nome_fantasia" id="nome_fantasia" placeholder="Nome fantasia da entidade">
      {% for error in form.nome_fantasia.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="cnpj"><b>CNPJ</b></label>
      <input class="form-control" type="text" id="cnpj" name="cnpj" placeholder="CNPJ da entidade" maxlength="14" oninput="this.value = onlyNumber(this.value)">
      {% for error in form.cnpj.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="endereco"><b>Endereço</b></label>
      <input class="form-control" type="text" id="endereco" name="endereco" placeholder="Endereço da entidade">
      {% for error in form.endereco.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="telefone"><b>Telefone</b></label>
      <input class="form-control" type="text" id="telefone" name="telefone" maxlength="16" oninput="this.value = numberFormat(this.value)" placeholder="Telefone da entidade">
      {% for error in form.telefone.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="email"><b>Email</b></label>
      <input class="form-control" type="email" id="email" name="email" placeholder="Email da entidade">
      {% for error in form.email.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div>
      <label for="representante"><b>Representante</b></label>
      {% if request.user|has_group:"Representante" %}
        <input class="form-control" type="hidden" readonly value="{{ request.user.id }}" name="representante" id="representante">
        <input class="form-control" type="text" readonly value="{{ request.user.first_name }}" >
      {% elif request.user.is_superuser %}
        <select class="custom-select" name="representante" id="representante">
          <option disabled hidden selected>Escolha um representante</option>
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.first_name }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>

    <div class="button-holder">
      <button type="submit" id="save-button" class="btn-primary py-2 px-2">
        <i class="fas fa-save icon"></i>
        <b>Salvar</b>
      </button>
    </div>
  </form>
{% endblock %}

{% block script %}
  <script>
    const onlyNumber = (input) => {
      input = input.replace(/\D/g,'');
      return input;
    }
  </script>

  <!-- Number formatter -->
  <script>
    const numberFormat = (input) => {
      input = input.replace(/\D/g,'');
      const size = input.length;

      if (size > 0) 
        input = `(${input}`;
      
      if (size > 2)
        input = `${input.slice(0, 3)}) ${input.slice(3)}`;
      
      if (size > 5 && size < 11) 
        input = `${input.slice(0, 9)}-${input.slice(9)}`;
      
      if (size === 11) 
        input = `${input.slice(0, 3)}) ${input.charAt(5)} ${input.slice(6, 10)}-${input.slice(10)}`;

      return input;
    }
  </script>
{% endblock %}