{% extends 'table_generic.html' %} 

{% block table_title %}
  Resultados da pesquisa
{% endblock %}

{% block table_search %}
  <form action="{% url 'search_donation' %}" method="GET">
    {% csrf_token %}
    <input class="form-control" type="search" name="search_term" required placeholder="Pesquisar doação...">
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
{% endblock %}

{% block table_add_button %}
  {% if request.user|has_group:"Usuário" or request.user.is_superuser %}
  <a href="{% url 'create_donation' %}" id="add-button" class="py-2 px-3">
    <i class="fas fa-plus-square icon"></i>
    <b>Nova doação</b>
  </a>
  {% endif %}
{% endblock %}

{% block table_head %}
  <th scope="col">ID</th>
  <th scope="col">Chefe da família</th>
  <th scope="col">Data</th>
  <th scope="col">Cadastrada por</th>
{% endblock %}

{% block table_body %}
  {% if paginator %}
    {% for donation in paginator %}
      <tr>
        <th scope="row">
          {{ donation.id }}
        </th>
        <td>
          <a href="{% url 'donation_details' donation.pk %}">
            {{ donation.chefe_da_familia.chefe_da_familia }}
          </a>
        </td>
        <td>
          {{ donation.data }}
        </td>
        <td>
          {{ donation.usuario.first_name }}
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="4">Não existem doações cadastradas.</td>
    </tr>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% if paginator.has_other_pages %}
    <p>Mostrando de <b>{{ paginator.start_index }}</b> até <b>{{ paginator.end_index }}</b> de <b>{{ paginator.paginator.count }}</b> resultados</p>
  {% else %}
    <p><b>{{ paginator.paginator.count }}</b> resultados</p>
  {% endif %}

  {% if paginator.has_other_pages %}
    <div>
      {% if paginator.has_previous %}
        <a class="activated" href="{% url 'donation' %}?page={{ paginator.previous_page_number }}">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% else %}
        <a class="disabled" href="#">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% endif %}

      {% for page in paginator.paginator.page_range %}
        {% if paginator.number == page %}
          <a class="current" href="#">
            {{ page }}
          </a>
        {% elif page > paginator.number|add:'-3' and page < paginator.number|add:'3' %}
          <a class="activated" href="{% url 'donation' %}?page={{ page }}">
            {{ page }}
          </a>         
        {% endif %}
      {% endfor %}

      {% if paginator.has_next %}
        <a class="activated" href="{% url 'donation' %}?page={{ paginator.next_page_number }}">
          <i class="fas fa-chevron-right"></i>
        </a>
      {% else %}
        <a class="disabled" href="#">
          <i class="fas fa-chevron-right"></i>
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
