.content-container {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1280px) {
  .content-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1279px) {
  .content-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.content-container .title-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1025px) {
  .content-container .title-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
  }
}

.content-container .title-column #table-title {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .content-container .title-column #table-title {
    font-size: 22px;
  }
}

.content-container .title-column #search-holder form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

.content-container .title-column #search-holder form input {
  padding: 0.25em 0.5em !important;
  border-radius: 0 !important;
  border: none !important;
}

.content-container .title-column #search-holder form input:focus {
  outline: none !important;
  -webkit-box-shadow: inset 0 -1px 0 #ddd !important;
          box-shadow: inset 0 -1px 0 #ddd !important;
}

.content-container .title-column #search-holder form button {
  padding: 0.25em 1em;
  cursor: pointer;
  background: #5c6670;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.content-container .title-column #search-holder form button:hover, .content-container .title-column #search-holder form button:focus {
  background: #505962;
  color: white;
}

.content-container .title-column #search-holder form button i {
  font-size: 20px;
}

.content-container .title-column #button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}

@media screen and (max-width: 900px) {
  .content-container .title-column #button-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-container .title-column #button-holder #add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: white;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.content-container .title-column #button-holder #add-button .icon {
  font-size: 20px;
}

.content-container .title-column #button-holder #add-button {
  background: green;
}

.content-container .title-column #button-holder #add-button:hover, .content-container .title-column #button-holder #add-button:focus {
  background: #006600;
}

.content-container .content-column table tbody tr td a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.content-container .content-column table tbody tr td a:hover {
  color: #454d54;
}

.content-container .pagination-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.content-container .pagination-holder p {
  line-height: 1;
  margin: 0;
}

.content-container .pagination-holder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .pagination-holder div .current {
  cursor: auto;
  text-decoration: none;
  padding: 0.5em 0.75em;
  background: #22262a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}

.content-container .pagination-holder div .disabled {
  cursor: auto;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  background: #5c6670;
  padding: 0.5em 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.content-container .pagination-holder div .activated {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #5c6670;
  -webkit-transition: 50ms ease;
  transition: 50ms ease;
  padding: 0.5em 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.content-container .pagination-holder div .activated:hover, .content-container .pagination-holder div .activated:focus {
  color: white;
}
/*# sourceMappingURL=table.css.map */