{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Gestão de Doações</title>

    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Google Fonts: Nunito sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome Kit -->
    <script
      src="https://kit.fontawesome.com/8dcd95e926.js"
      crossorigin="anonymous"
    ></script>

    <!-- Reset CSS -->
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}" />

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />

    <!-- Page CSS -->
    {% block style %}
    {% endblock %}
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 col-md-12 col-sm-12 p-0 bg-dark col-menu">
          <div class="logo-container text-center">
            <a href="{% url 'dashboard' %}"
              >Rede <br />
              Soliedariedade
            </a>
          </div>

          <ul class="nav-menu p-0">
            <hr />
            <li class="nav-item" id="dashboard-item">
              <a class="nav-link" id="dashboard-link" href="{% url 'dashboard' %}">
                <div>
                  <i class="fas fa-tachometer-alt" id="dashboard-icon"></i>
                </div>
                Dashboard
              </a>
              <i
                class="fas fa-chevron-right icon-inactive"
                id="dashboard-arrow-icon"
              ></i>
            </li>
            <hr />

            <li class="nav-item" id="familias-item">
              <a class="nav-link" id="familias-link" href="{% url 'family' %}">
                <div>
                  <i class="fas fa-users" id="familias-icon"></i>
                </div>
                Famílias
              </a>
              <i
                class="fas fa-chevron-right icon-inactive"
                id="familias-arrow-icon"
              ></i>
            </li>
            <hr />

            <li class="nav-item" id="doacoes-item">
              <a class="nav-link" id="doacoes-link" href="{% url 'donation' %}">
                <div>
                  <i class="fas fa-hand-holding-usd" id="doacoes-icon"></i>
                </div>
                Doações
              </a>
              <i
                class="fas fa-chevron-right icon-inactive"
                id="doacoes-arrow-icon"
              ></i>
            </li>
            <hr />

            {% if request.user.is_superuser or request.user.is_representante %}
              <li class="nav-item" id="entidades-item">
                <a class="nav-link" id="entidades-link" href="{% url 'entity' %}">
                  <div>
                    <i class="fas fa-building" id="entidades-icon"></i>
                  </div>
                  Entidades
                </a>
                <i
                  class="fas fa-chevron-right icon-inactive"
                  id="entidades-arrow-icon"
                ></i>
              </li>
              <hr />
            

              <li class="nav-item" id="usuario-item">
                <a class="nav-link" id="usuario-link" href="{% url 'user' %}">
                  <div>
                    <i class="fas fa-user" id="usuario-icon"></i>
                  </div>
                  Usuários
                </a>
                <i
                  class="fas fa-chevron-right icon-inactive"
                  id="usuario-arrow-icon"
                ></i>
              </li>
              <hr />
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <div>
                  <i class="fas fa-sign-out-alt"></i>
                </div>
                Sair
              </a>
            </li>
            <hr />
          </ul>
        </div>

        <div class="col-lg-10 col-md-12 col-sm-12 col-conteudo">
          {% block content %} 
          {% endblock %}
        </div>
      </div>
    </div>
    <!-- Page Scripts -->
    {% block script %} 
    {% endblock%}

    <!-- Arrow Right Icon Script -->
    <script type="text/javascript">
      const currentLocation = window.location;
      const width = window.screen.width;
      let item;
      let link; 
      let icon;
      let arrow;

      if (currentLocation.toString().includes("familias")) {
        item = document.querySelector("#familias-item");
        link = document.querySelector("#familias-link");
        icon = document.querySelector("#familias-icon");
        arrow = document.querySelector("#familias-arrow-icon");

        if (width > 1000) {
          arrow.classList.remove("icon-inactive");
          arrow.classList.add("icon-active");
        }

        item.classList.add("nav-item-active");
        link.classList.add("nav-link-active");
        icon.classList.add("icon-active");
      } else if (currentLocation.toString().includes("doacoes")) {
        item = document.querySelector("#doacoes-item");
        link = document.querySelector("#doacoes-link");
        icon = document.querySelector("#doacoes-icon");
        arrow = document.querySelector("#doacoes-arrow-icon");

        if (width > 1000) {
          arrow.classList.remove("icon-inactive");
          arrow.classList.add("icon-active");
        }

        item.classList.add("nav-item-active");
        link.classList.add("nav-link-active");
        icon.classList.add("icon-active");
      } else if (currentLocation.toString().includes("entidades")) {
        item = document.querySelector("#entidades-item");
        link = document.querySelector("#entidades-link");
        icon = document.querySelector("#entidades-icon");
        arrow = document.querySelector("#entidades-arrow-icon");

        if (width > 1000) {
          arrow.classList.remove("icon-inactive");
          arrow.classList.add("icon-active");
        }

        item.classList.add("nav-item-active");
        link.classList.add("nav-link-active");
        icon.classList.add("icon-active");
      } else if (currentLocation.toString().includes("usuario")) {
        item = document.querySelector("#usuario-item");
        link = document.querySelector("#usuario-link");
        icon = document.querySelector("#usuario-icon");
        arrow = document.querySelector("#usuario-arrow-icon");

        console.log();

        if (width > 1000) {
          arrow.classList.remove("icon-inactive");
          arrow.classList.add("icon-active");
        }

        item.classList.add("nav-item-active");
        link.classList.add("nav-link-active");
        icon.classList.add("icon-active");
      } else {
        item = document.querySelector("#dashboard-item");
        link = document.querySelector("#dashboard-link");
        icon = document.querySelector("#dashboard-icon");
        arrow = document.querySelector("#dashboard-arrow-icon");

        if (width > 1000) {
          arrow.classList.remove("icon-inactive");
          arrow.classList.add("icon-active");
        }

        item.classList.add("nav-item-active");
        link.classList.add("nav-link-active");
        icon.classList.add("icon-active");
      }
    </script>

    <!-- Boostrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
