{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/create/create.css' %}">
{% endblock %}

{% block content %}
  <div class="row h-100 p-3 d-flex justify-content-center root-container">
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <div class="title-holder bg-dark px-4 py-4">
        <h5 id="title">
          {% block create_title %}
          {% endblock %}
        </h5>
      </div>

      <div class="content-holder">
        {% block create_form_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
