{% extends 'base.html' %} 
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/table/table.css' %}">
{% endblock %}

{% block content %}
  <div class="row h-100 p-3 content-container">
    <div class="col">
      <div class="title-column bg-dark py-3 px-4">
        <h4 id="table-title"> 
          {% block table_title %}
          {% endblock %}
        </h4>

        <div id="search-holder">
          {% block table_search %}
          {% endblock %}
        </div>
        
  
        <div id="button-holder">
          {% block table_add_button %}
          {% endblock %}
        </div>
      </div>
      
      <div class="content-column table-responsive-sm">
        <table class="table table-light table-striped table-hover table-sm m-0">
          <thead class="text-center">
            <tr>
              {% block table_head %}
              {% endblock %}
            </tr>
          </thead>

          <tbody class="text-center">
            {% block table_body %}
            {% endblock %}
          </tbody>
        </table>
      </div>

      <div class="pagination-holder bg-dark py-3 px-4">
        {% block pagination %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}